$baseColor: #0f1214;
$hoverColor:  #2284bd;
$shapeColor: rgb(78, 77, 77);

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
}
  
.navbar {
    display: none;
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    background: $hoverColor;
    display: flex;
    align-items: center;
    justify-content: last baseline;
    gap: 30px;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a
  {
                
    text-decoration: none;
    padding: 10px 15px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1px;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    position: relative;
    bottom: 0;
    transition: all 0.15s ease;
    &:hover{
        color: $shapeColor;
    }
}

  .nav-container {
    display: block;
    position: relative;
    height: 15vh;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px $shapeColor;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

  @media only screen and (max-width: 700px){
    .navbar{
        display: block;
    }
  }

